<launch>

    <node name="transforms" pkg="quad_command" type="transforms"  output="screen" required="true">
    </node>

    <node name="rois" pkg="risc_visual" type="landmarks"  output="screen" required="true">
    </node>


    <!--node name="transform_tuner" pkg="quad_command" type="transform_tuner"  output="screen" required="true">
    </node-->

    <node name="angles" pkg="quad_command" type="angle_estimation.py"  output="screen" required="true">
    </node>

    <node name="draw_angles" pkg="risc_visual" type="draw_angles"  output="screen" required="true">
    </node>

    <node name="draw_cortex" pkg="risc_visual" type="draw_cortex"  output="screen" required="true">
    </node>

    <node name="rviz" pkg="rviz" type="rviz"  output="screen" required="true">
    </node>

</launch>
