<launch>

        <!-- Get IRIS data Streaming using 3DR radio--> 
 <node ns="apm" pkg="roscopter" type="driver.py" name="roscopter"       output="screen" args="--device=/dev/ttyUSB0 --baudrate=56000 --enable-rc-control=false">
   </node>

        <!-- Get Cortex marker data Streaming --> 
  <node pkg="cortex_ros" type="stream_markers" name="stream_markers" output="screen">
    </node>

        <!-- Get Cortex State estimation given Templates --> 
          <node pkg="risc_estimation" type="states_estimation.py" name="states_estimation"             output="screen">
            </node>

    <node name="arduino" pkg="rosserial_python" type="serial_node.py"  output="screen" required="true">
    <param name="port" value="/dev/ttyACM0"/>
    </node>

<node name="joy_node" pkg="joy" type="joy_node" output="screen" clear_params="true">
                <param name="dev" type="str" value="/dev/input/js0"/>
        </node>

<!-- Launches the Trajectory -->
	<node name="trajectory" pkg="risc_control" type="IP_traj.py" output="screen" required="true">
		</node>

<!-- Launches the controllers -->
	<node name="DF_controller" pkg="risc_control" type="IRIS_IP_DF.py" output="screen" required="true">
		</node>
	<node name="WP_controller" pkg="risc_control" type="IRIS_origin_IP.py" output="screen" required="true">
		</node>
	<node name="Controller_switch" pkg="risc_control" type="IP_switch.py" output="screen" required="true">
		</node>

	<node name="Loop_latency_print" pkg="risc_control" type="total_loop_latency_print.py" output="screen" required="true">
		</node>

    <!-- Create Transforms -->
     <node name="transforms" pkg="risc_control" type="transforms"       output="screen"            required="true">
     </node>

     <!-- Draw the RISC Multi Agent Analysis Platform -->
     <node name="draw_risc_maap" pkg="risc_visual"                      type="draw_risc_maap"  output="screen"     required="true">
     </node>

     <!-- Draw Cortex Objects -->
     <node name="draw_cortex" pkg="risc_visual" type="draw_cortex"       output="screen"           required="true">
     </node>

     <!-- Draw Trajectories -->
     <node name="draw_trajectories" pkg="risc_visual"                    type="draw_trajectories"                output="screen"               required="true">
     </node>

     <!-- Start RVIZ using Diff_flat config file -->
     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find           risc_visual)/config/Diff_flat.rviz" output="screen"                   required="true">
     </node>


</launch>
