<launch>
  <node pkg="cortex_ros" type="stream" name="stream" output="screen">
  </node>
	<node name="joy_node" pkg="joy" type="joy_node" output="screen" clear_params="true">
		<param name="dev" type="str" value="/dev/input/js0"/>
	</node>
<!-- Launches the joystick controller -->
	<node name="joystick_controller" pkg="quad_command" type="risc_controller.py" output="screen" required="true">
		
		<!-- Configures the joystick button mapping -->
		<param name="JoytoWay"	                value="0" />
		<param name="ButtonEmergency"	        value="2" />
		<param name="TakeoffLand"	        value="6" />
		<param name="Up"	         	value="9" />
		<param name="Down"			value="10" />
		<param name="ShutDownNode"		value="7" />
		<param name="Quad1"	         	value="3" />
		<param name="Quad2"	         	value="1" />
		<param name="Quad3"	         	value="4" />
		<param name="Quad4"	         	value="5" />
		

		<!-- Configures the joystick axis mapping -->
		<param name="AxisRoll"			value="0" />
		<param name="AxisPitch"			value="1" />
		<param name="AxisYaw"			value="3" />
		<param name="Waynorthsouth"	       	value="6" />
		<param name="Wayeastwest"	       	value="7" />

		<!-- Configures the joystick mapping -->
		<param name="ScaleRoll"			value="10" />
		<param name="ScalePitch"		value="10" />
		<param name="ScaleYaw"			value="1" />
		<param name="ScaleZ"			value="1" />

	</node>
    <node name="waypoints" pkg="quad_command" type="waypoints.py"  output="screen" required="true">
    </node>
</launch>
